/*start header*/
header {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid $greycolor;

    .logo {
        position: relative;

        @media #{$minSmall} {
            width: 100%;
            float: none;
            text-align: center;
        }

        @media #{$minMedium} {
            width: 30%;
            float: $float-left;
            text-align: $text-left;
        }

        h1 {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    .navbar {
        overflow: hidden;
        background-color: $redcolor;
        border-radius: 15px;

        @media #{$maxMobile} {
            display: none;
            border-radius: 0;
        }

        @media #{$minSmall} {
            width: 100%;
            float: none;
            margin-top: 30px;
            display: block !important;
        }

        @media #{$minMedium} {
            width: 70%;
            float: $float-left;
            margin-top: 1em;
        }

        li {
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;

            @media #{$maxMobile} {
                display: block;
                float: none;
                width: 100%;
                text-align: $text-left;
            }

            a {
                display: block;
                padding: 20px 10px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #ddd;
                }
            }
        }
    }
}

/*end header*/